:root {
  --padding: 1em;
  --gap: unset;
  --font-size: clamp(1rem, 1.25vw, 2.5rem);
}

/* dark-theme colors */
:root {
  --bg-color: midnightblue;
  --text: white;
  --text-contrast: rgba(46, 49, 49, 1);
  --theme: lightsteelblue;
  --contrast: rebeccapurple;
  --medium: indigo;
  --accent: coral;
  --shadow: unset;
  --shadow-deep: unset;
}


/* light-theme colors */
:root {
  --bg-color: whitesmoke;
  --text: rgba(46, 49, 49, 1);
  --text-contrast: white;
  --theme: var(--white);
  --medium: white;
  --contrast: lightsteelblue;
  --accent: slateblue;
  --shadow: 0 0.25vw 1vw  0 rgba(0,0,0,0.2);
  --shadow-deep: 0 0.5vw 2vw  0 rgba(0,0,0,0.2);
}



html {
  background-color: var(--bg-color);
}


body {
  height: 100%;
  margin:0;
  color: var(--text);
  font-family: system-ui, sans-serif;
  font-size: var(--font-size);
  letter-spacing: 0.3em;
} 


p {
  line-height: 1.5;
  max-width: 60ch;
}


.footer {
  background-color: var(--contrast);
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

footer .wrapper {
  min-height: initial;
}

.container {
  flex-direction: column;
  width: 80vw; 
  min-width: 320px;
  padding: var(--padding) 0;
}

.flex {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.two > *, .three > *{
  flex-basis: calc(( 16em - 35%) * 999);
}

.two > :nth-last-child(n+ 3),
.two > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.hero {
  flex-grow: 2;
  background-image: url('./images/drawers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 50%;
  min-height:33vh;
  min-width: 300px;
}

article {
  flex-grow: 3;
  background-color: var(--medium);
  padding: var(--padding);
}

.testimonial {
  padding: 1em;
}

.testimonial-img, .share {
  height: 3em;
  width: 3em;
  margin-inline-end: 1em;
}

.testimonial-img img {
  min-width: initial;
  height: 100%;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}

.share {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.share img {
  min-width: initial;
  height: 50%;
  width: auto;
}


article  footer {
  align-items: center;
}

.radius {
  border-radius: var(--padding);
  overflow: hidden;
}

.footer {
  background-color: var(--contrast);
  align-items: start;
}


